<robot name="smp">
  <link name="motor" />
  <link name="lidar" />
  <link name="cam" />

  <joint name="joint1" type="continuous">
    <parent link="motor"/>
    <child link="lidar"/>
    <origin xyz="0 0 0.035" rpy="0 0 6.283" />
    <axis xyz="0 0 1" />
  </joint>
 <joint name="joint2" type="fixed">
    <parent link="motor"/>
    <child link="cam"/>
    <origin xyz="0 -.05 0" rpy="0 0 0" />
    <axis xyz="0 0 0" />
  </joint>
</robot>
